# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
myvenv/
# Serverless directories
.serverless

# Secret Variables
.env

#ide
.idea/

#cache
*/__pycache__

#modules
node_modules/
